.avatar {
    height: 56px;
    width: 56px;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 50%;
    &_mini {
        height: 32px;
        width: 32px;
    }

    &-profile {
        height: 150px;
        width: 150px;
    }
    &_story { // аватарки историй
        border: 3px solid #d778b8; 
        border-radius: 50%;
        max-height: 66px;
        &_watched {
            border-color: grey;
        }
    }
}