.button {
    border: 0;
    height: 24px;
    width: 24px;
    max-height: 100%;
    outline: none;
    cursor: pointer;
    &-feedback {
        background-color: #ffffff;
        padding: 0;
        margin-right: 16px;
    }
    &-blue {
        width: auto;
        height: 18px;
        background-color: #ffffff;
        color: #3897f0;
        font-weight: 700;
        font-size: 14px;
    }
    &-avatar {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        padding: 0;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }
    &-settings {
        margin-left: 20px;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        img {
            height: 24px;
            width: 24px;
        }

    }
}