.header {
    display: grid;
    grid-template-rows: 1fr 1fr; 
/*     grid-template-columns: 1fr 2fr; */
/*     grid-template-areas: 
    "head rec"
    "stories rec"; */
    grid-template-areas: "head"
    "stories";
    grid-gap: 10px;
    &_link {
        display: flex;
        align-items: center;
    }
    &_post {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        padding: 5px;
        margin-bottom: 0;
        border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
        background-color: #ffffff;
    }
}

// блок с историями пользователей
.stories {
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding: 5px;
    background-color: #ffffff;
    border: $border;
    border-radius: 4px;
}

// истории отдельного пользователя
.story {
    border: 3px solid #d778b8; 
    border-radius: 50%;
    max-height: 66px;
    &_watched {
        border-color: grey;
    }
}

.recomendations {
    background-color: #ffffff;
    border: $border;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
    max-height: 200px;
    overflow-y: auto;
    &_list {
        text-align: start;
        padding: 10px;
        list-style-type: none;
        margin: 0;
    }
    &_user {
        display: flex;
        margin-bottom: 15px;
    }
}

.subscribe {
    display: flex;
    align-items: center;
}


#linkStories {
    grid-area: stories;
}

#linkHeader {
    grid-area: head;
}

#linkRecomendations {
    grid-area: rec;
}

