.navbar {
    display: grid;
    grid-template-columns: 1fr 935px 1fr;
    border-bottom: $border;
    background-color: #ffffff;
    &_wrapper {
        display: grid;
        grid-template-columns: 360px 1fr 360px;
    }
}
// иконки в баре навигации
.icons {
    height: 24px;
}

// секция со ссылкой и лого
.logo {
    display: flex;
    align-items: center;
    justify-content: start;
}

.vertical-devider {
    margin: 0 16px;
    width: 1px;
    height: 28px;
    background-color: black;
}

// секция с поиском
.search {
    display: flex;
    align-items: center;
    position: relative;
    .input {
        border: 1px solid gray;
        width: 100%;
        height: 28px;
        border-radius: 4px;
        padding: 0 5px;
    }
    .button_reset {
        position: absolute;
        right: 5px;
        border: 0;
        border-radius: 50%;
        padding: 0;
        height: 15px;
        width: 15px;
    }
    // убираем синий крестик
    input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
    input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration { display: none; }
}

// cекция с ссылками
.navbar_actions {
    display: flex;
    justify-content: flex-end;
}

// ссылки
.link {
    display: flex;
    align-items: center;
    margin-right: 30px;
}


// обёртка для инпута загрузки файлов
.wrapper-file-input {
    position: relative;
    label {
        display: flex;
    }
    input {
        position: absolute;
        width: 1px;
        height: 1px;
        top: -80px;
    }
}