@import 'libs/normalize';
@import 'libs/fonts';

@import 'base/grid';
@import 'base/mixins';
@import 'base/nav';
@import 'base/header';
@import 'base/button';
@import 'base/avatar';
@import 'base/usersname';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    position: relative;
    max-width: 935px;
    margin: 0 auto;
}

@import 'block/main';
@import 'block/profile';