main {
    background-color: $main;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    grid-template-areas: "news rec";
    
}

// модификатор марджин 0
.margin0 {
    margin: 0;
}

// размер шрифта
.fs10 {
    font-size: 10px;
}


//ширина 100px
.mw100 {
    width: 100px;
    overflow: hidden;
}

// лента постов
.newsfeed {
    display: flex;
    flex-direction: column;
}

.post {
    margin-bottom: 60px;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    background-color: #ffffff;
    &_describe, .comment {
        padding: 5px 10px;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
    }
    &_date {
        padding: 5px 10px;
        font-size: 10px;
        color: rgba(var(--f52,153,153,153),1);
        text-transform: uppercase;
        border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    }
    &_feedback {
        padding: 5px 10px;
        background-color: #ffffff;
    }
    &_comments {
        max-height: 100px;
        overflow: scroll;
    }
}

.comment_text {
    padding: 0 5px;
}

.content {
    max-width: 100%;
    border: 0;
    width: 100%;
    padding: 0;
}


.counter_likes {
    padding: 5px 10px;
    font-weight: 700;
    font-size: 14px;
}

.form_add-comment {
    width: 100%;
    box-sizing: border-box;
    margin: 4px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.text_add-comment {
    height: 18px;
    width: 75%;
    border: 0;
    resize: none;
    outline: none;
}

.content {
    max-width: 650px;
    img {
        max-width: 100%;
    }
    &_paid {
        display: grid;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        background-color: $main;
        font-size: 32px;
    }
}

// блок рекомендаций
.recomendations {
    background-color: #ffffff;
    border: $border;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
    max-height: 200px;
    overflow-y: auto;
    &_list {
        text-align: start;
        padding: 10px;
        list-style-type: none;
        margin: 0;
    }
    &_user {
        display: grid;
        grid-auto-flow: column;
        margin-bottom: 15px;
    }
}

.subscribe {
    display: flex;
    align-items: center;
}

#linkRecomendations {
    grid-area: rec;
}

#news {
    grid-area: news;
}